dist-newstyle/
test/
.vim/
.obsidian/
.stack-work/
.DS_Store
*~
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Obsidian
Knowledge\ Base/.obsidian
Knowledge\ Base/.trash

# IDE specific
.idea
